
.reccomended-revision{
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 30%;
    align-items: center;
    background-color: #FFECEC;
    border-radius: 20px;
}

.reccomended-revision > .title >h2{
    display: inline-block;
    font-size: 190%;
    font-family: "Roboto Mono", monospace;
}


