.login {
    display: flex;
    align-items: center;
    height: 50%;
    flex-direction: column;
    background-color: #8BDAE4;
    padding: 12%;
    gap: 5%;
}

.login > label{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 23%;
    width: 80%;
    font-size: 150%;
    box-sizing: border-box;
    gap: 10%;
}

.login > label > input{
    height: 100%;
}

.login > input{
    width: 30%;
    height: 12%;
    font-size: 110%;
    border-radius: 11px;
    margin-top: 6%;
}

