.home-page,
.home-page > .main-tile,
.home-page > .tile{
    display: flex;
    flex-direction: column;
}

.home-page{
    height: 100%;
    width: 100%;
    gap: 8%;
    padding-top: 3%;
}

.home-page > .main-tile{
    text-align: center;
    font-size: 75%;
    align-items: center;
}

.home-page > .tile{
    height: 25%;
    gap: 5%;
    padding: 10%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4%;
    font-size: 70%;
    background-color: lightgoldenrodyellow;
}

.home-page > .tile > h2{
    width: 60%;
}